extends ../layout/common.pug
block content
  h1 Calendar
  iframe#getIframe(src="https://calendar.google.com/calendar/embed?src=phuongthanhlong.99%40gmail.com&ctz=Asia%2FHo_Chi_Minh&amp" style="border:solid 1px #777" width="1200" height="600" frameborder="0" scrolling="no")
  script(type="text/javascript" src="/javascripts/index.js")
