.banner-shop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.fc-time-grid .fc-slats td {
  height: 2.5em;
}

.table td,
.table th {
  vertical-align: middle;
}